<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MilkStgo main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
<header class="header">
    <div class="logo">
        <h1 align = center style="color: black"> <b1>MilkStgo</b1></h1>
    </div>
    <div class = "single-box">
        <a class="btn btn-primary" href="/listar"><button>Ver proveedores</button></a>
            <div class = "img-area">
            </div>
        </a>
        <div class = "img-text">
            <span class = "header-text"><strong>Ver Proveedores</strong></span>
        </div>
    </div>
</header>
</body>
</html>